#h1{
    font-size: 38px;
    text-align: center;
}
#countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 12px;
    row-gap: 12px;
}
.country{
    background-color:aquamarine;
    color: black;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 2px solid red;
}
.country img{
    width: 200px;
    height: 100px;
    margin-bottom: 5px;
}