#h1{
    font-size: 38px;
    text-align: center;
}
#countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1fr;
    background-color:aquamarine ;
}
.country{
    color: black;
    font-size: 25px;
}